{% extends "manaTransaction/base.html" %}
{% load static %}
{% block title %} My Dashboard{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock css %}

{% block content %}
<div class="box1">
    <div class="user">
        <img src="{{ balance_user.pro5_pic.url }}" alt="avatar">
        <div class="text">
            <span>{{ balance_user.user.username }}</span>
            <span id="show_balance">
                <script>
                    function num2cur(params) {
                    var x = parseFloat(params);
                    // console.log(typeof x);
                    x = x.toLocaleString('it-IT', { style: 'currency', currency: 'VND', maximumFractionDigits: 9 });
                    // console.log(x)
                    document.getElementById("show_balance").innerText = "Số dư: " + x.toString();
                }
                </script>
                <script>
                    num2cur(`{{ balance_user.balance }}`)
                </script>
            </span>
        </div>
    </div>
    <div class="history">
        <h1>Lịch sử giao dịch</h1>
        <table class="table table-striped table-class" id="myTable">
            <tr class="main-title" style="height: 51px;">
                <th>STT</th>
                <th>Loại giao dịch</th>
                <th>Số tiền giao dịch</th>
                <th>Ghi chú</th>
                <th>Thời gian - time</th>
            </tr>
            {% for data in his_users reversed %}
            <tr style="height: 47px;">
                <td>{{ forloop.counter }}</td>
                <td>{{ data.type }}</td>
                <td id="show_balance_detail-{{ forloop.counter }}">
                    <script>
                        function num2cur(params, detail) {
                        var x = parseFloat(params);
                        // console.log(typeof x);
                        x = x.toLocaleString('it-IT', { style: 'currency', currency: 'VND', maximumFractionDigits: 9 });
                        // console.log(x)
                        document.getElementById("show_balance_detail-" + detail).innerText = x.toString();
                    }
                    </script>
                    <script>
                        num2cur(`{{ data.amount_money }}`, `{{ forloop.counter }}`)
                    </script>
                </td>
                <td>{{ data.note | truncatechars:20 }}</td>
                <td>{{ data.date }}</td>
            </tr>
            {% endfor %}

        </table>


    </div>
    <script>
        // console.log( typeof `{{ data_storage.1 }}`)
        window.onload = function () {
	    var chart = new CanvasJS.Chart("chartContainer",
            {

                title: {
                    text: "Số giao dịch mỗi tháng "
                },
                data: [
                    {
                        type: "line",

                        dataPoints: [
                            { x: new Date(`{{year_now}}`, 00), y: parseInt(`{{data_storage.0}}`) },
                            { x: new Date(`{{year_now}}`, 01), y: parseInt(`{{data_storage.1}}`) },
                            { x: new Date(`{{year_now}}`, 02), y: parseInt(`{{data_storage.2}}`) },
                            { x: new Date(`{{year_now}}`, 03), y: parseInt(`{{data_storage.3}}`) },
                            { x: new Date(`{{year_now}}`, 04), y: parseInt(`{{data_storage.4}}`) },
                            { x: new Date(`{{year_now}}`, 05), y: parseInt(`{{data_storage.5}}`) },
                            { x: new Date(`{{year_now}}`, 06), y: parseInt(`{{data_storage.6}}`) },
                            { x: new Date(`{{year_now}}`, 07), y: parseInt(`{{data_storage.7}}`) },
                            { x: new Date(`{{year_now}}`, 08), y: parseInt(`{{data_storage.8}}`) },
                            { x: new Date(`{{year_now}}`, 09), y: parseInt(`{{data_storage.9}}`) },
                            { x: new Date(`{{year_now}}`, 10), y: parseInt(`{{data_storage.10}}`) },
                            { x: new Date(`{{year_now}}`, 11), y: parseInt(`{{data_storage.11}}`) }
                        ]
                    }
                ]
            });
	    chart.render();
        }
    </script>
    <div id="chartContainer" style="height: 300px; width: 98%; margin-left:
        10px; margin-top: 20px;">
    </div>
    <br>
</div>
{% endblock content %}

{% block js %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock js %}
