{% extends "manaTransaction/base.html" %}
{% load static %}
{% block title %} My Dashboard{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock css %}

{% block content %}
<div class="box1">
    <div class="user">
        <img src="{% static 'images/default-avatar.jpg' %}" alt="avatar">
        <div class="text">
            <span>{{ balance_user.user.username }}</span>
            <span id="show_balance">
                <script>
                    function num2cur(params) {
                    var x = parseFloat(params);
                    // console.log(typeof x);
                    x = x.toLocaleString('it-IT', { style: 'currency', currency: 'VND', maximumFractionDigits: 9 });
                    // console.log(x)
                    document.getElementById("show_balance").innerText = "Số dư: " + x.toString();
                }
                </script>
                <script>
                    num2cur(`{{ balance_user.balance }}`)
                </script>
            </span>
        </div>
    </div>
    <div class="history">
        <h1>Lịch sử giao dịch</h1>
        <table class="table table-striped table-class" id="myTable">
            <tr class="main-title" style="height: 51px;">
                <th>STT</th>
                <th>Loại giao dịch</th>
                <th>Số tiền giao dịch</th>
                <th>Ghi chú</th>
                <th>Thời gian</th>
            </tr>
            {% for data in his_users reversed %}
            <tr style="height: 47px;">
                <td>{{ forloop.counter }}</td>
                <td>{{ data.type }}</td>
                <td id="show_balance_detail-{{ forloop.counter }}">
                    <script>
                        function num2cur(params, detail) {
                        var x = parseFloat(params);
                        // console.log(typeof x);
                        x = x.toLocaleString('it-IT', { style: 'currency', currency: 'VND', maximumFractionDigits: 9 });
                        // console.log(x)
                        document.getElementById("show_balance_detail-" + detail).innerText = x.toString();
                    }
                    </script>
                    <script>
                        num2cur(`{{ data.amount_money }}`, `{{ forloop.counter }}`)
                    </script>
                </td>
                <td>{{ data.note | truncatechars:20 }}</td>
                <td>{{ data.date }}</td>
            </tr>
            {% endfor %}

        </table>


    </div>
    <div class="test">tran manh dung</div>
    <div class="test">tran manh dung</div>

    <div class="test">tran manh dung</div>
    <div class="test">tran manh dung</div>
    <div class="test">tran manh dung</div>
    <br>
</div>
{% endblock content %}

{% block js %}

<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock js %}

