{% extends 'manaTransaction/base.html' %}
{% load static %}
{% block title %}Thong tin ca nhan{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/inforuser.css' %}">
{% endblock css %}
{% block content %}
<div class="infor-user__con">
    <h1>Thông tin cá nhân</h1>
    <div class="box">
        <div class="left-box">
            <img src="{{ infor_user.pro5_pic.url }}" alt="avatar">
        </div>
        <div class="right-box">
            <form method="post" action="{% url "Thongtin" %}">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Tên:</label>
                    <div class="col-sm-10">
                        <input type="text" class="inp__form form-control-plaintext"
                            id="staticName" value="{{ infor_user.user.username }}" name="username_value">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Số
                        dư: (VNĐ)</label>
                    <div class="col-sm-10">
                        <input type="text" class="inp__form form-control-plaintext"
                            id="staticBalance" value="{{ infor_user.balance }}" name="balance_value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Thay đổi ảnh đại diện:</label>
                    <input type="file" class="form-control-file"
                        id="exampleFormControlFile1" name="avatar_value">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-sm">Xác nhận thay đổi </button>

            </form>
        </div>
    </div>
</div>
{% endblock content %}
