.infor-user__con h1{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

.box{
    margin-top: 30px;
    display: flex;
    height: 350px;
}

.box .left-box{
    position: relative;
    width: 40%;
    height: 100%;
}

.box .left-box img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.box .right-box{

    display: table;
    padding: auto;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
}

.box .right-box form{
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;

}